/* Fonts */
$font-family-main           : 'Lato Regular', sans-serif;
$font-family-main-italic    : 'Lato Italic', sans-serif;
$font-family-main-bold      : 'Lato Bold', sans-serif;

$font-family-title          : 'Montserrat Regular', sans-serif;
$font-family-title-italic   : 'Montserrat Italic', sans-serif;
$font-family-title-bold     : 'Montserrat Bold', sans-serif;

/* Gutters */
$gutter-simple  : 1rem;
$gutter-half    : $gutter-simple/2;
$gutter-double  : $gutter-simple*2;

/* Colors */
$c-prussianblue     : #1d3557;
$c-celadonblue      : #457b9d;
$c-powderblue       : #a8dadc;
$c-honeydew         : #f1faee;
$c-pastelpink       : #ec9a9a;
$c-imperialred      : #e63946;