main {
    font-family: $font-family-main;
    font-size: 1rem;
    line-height: 1.5;
    margin: $gutter-simple;
}

section {
    margin-top: $gutter-simple;
    margin-bottom: $gutter-simple;
}

h1, h2, h3, h3, h4, h5, h6 {
    font-family: $font-family-title-bold;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: $c-imperialred;
}

a:hover {
    color : $c-pastelpink;
}

li {
    list-style-type: none;
}

